<% if flash[:success] %>
	<div class="alert alert-success"><%= flash[:success] %></div>
<%end%>

<div class="card user-card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(user.name, "/users/#{user.id}")%></h5>
    <p class="card-text">
    	email: <%= user.email %></br>
		age: <%= user.age %></br>
		gender: <%= user.gender %>	</br>
		phone_number: <%= user.phone_number %>	</br>
    </p>
    <% if current_user.admin? && !current_user?(user) && user.name[0] == 'A' %>
    <%= link_to 'DELETE', user, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) && !user.admin? %>
    <%= link_to 'MAKE ADMIN', user, data:{turbo_method: :put, turbo_confirm: "Are you sure?"}, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>