<h1> Users </h1>

<ul>
	<% @users.each do |user| %>
		<li style="border-bottom: 2px solid black;">
			name: <%= user.name %></br>
			email: <%= user.email %></br>
			age: <%= user.age %></br>
			gender: <%= user.gender %>	</br>
			phone_number: <%= user.phone_number %>	</br>
		</li>
	<% end %>	
</ul>