<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(post.title, "/posts/#{post.id}")%></h5>
    <p class="card-text">
    	Description: <%= post.description %></br>
      Posted by <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.updated_at) %> ago.
    </p>
    <div class="row">
      <%if own_post?(post)%>
        <%= link_to 'Edit', edit_post_path(post) %>
      <%end%>
    </div>
  </div>
</div>